In [ ]:
# Compare the top 10 suppliers in 2017 to the top suppliers in 2016

In [1]:
# Import pandas library into workbook
import pandas as pd

In [2]:
# Load dataset into workbook
data2016 = pd.read_csv('2016pcard_data (1) (1).csv')

In [3]:
data2016[:10]

,transactionid,amount,transactiondate,vendor,merchantcode,bu,account,ExpenseType,costcenter
0,16pcc115,68.8330,6/26/2016,76,15100,100,8740,Building Suppliles,Corporate IT
1,16pcc128,22.9500,5/28/2016,76,15100,100,8740,Building Suppliles,Corporate IT
2,16pcc132,46.5290,9/12/2016,76,15100,100,8740,Building Suppliles,Corporate IT
3,16pcc133,6.6640,9/12/2016,76,15100,100,8740,Building Suppliles,Corporate IT
4,16pcc134,66.1980,12/6/2016,76,15100,100,8740,Building Suppliles,Corporate IT
5,16pcc139,16.2520,10/15/2016,76,15100,100,8740,Building Suppliles,Corporate IT
6,16pcc140,18.5725,8/10/2016,76,15100,100,8740,Building Suppliles,Corporate IT
7,16pcc142,10.6675,8/20/2016,76,15100,100,8740,Building Suppliles,Corporate IT
8,16pcc4,11.3645,7/24/2016,76,15100,100,8416,Car Rental,Corporate IT
9,16pcc13,8.1260,2/11/2016,76,15100,110,8416,Car Rental,Corporate IT

In [23]:
data2016.amount.sum()

78223597.70494998

In [42]:
total_spent = data2016.groupby('vendor').sum()
total_spent.nlargest(10, 'amount')

                                    amount  merchantcode       bu    account
vendor
IBM                           6.773291e+06      81226833   160060   13727917
CDW Direct                    5.818678e+06     874331141  2043230  168334248
Oracle, Inc.                  3.892199e+06        524770     1060      86310
SALESFORCE.COM, INC.          3.884109e+06     154528137   984770   78018200
DataArt Solutions, Inc        2.673468e+06     258781125   555300   42733339
Apple, Inc.                   2.611532e+06        538740     3380     256095
SMART IMS, INC                2.374320e+06      19849028    45110    2615524
Amazon AWS                    2.232727e+06     251391815  1124280   88825441
Oxford Health Insurance, Inc  2.049244e+06     127084302   575660   42938560
OFFICE DEPOT                  1.884776e+06     686418347  1931940  157195108

In [44]:
supplier_spending = data2016[['vendor', 'amount']]
supplier_spending[:10]

  vendor   amount
0     76  68.8330
1     76  22.9500
2     76  46.5290
3     76   6.6640
4     76  66.1980
5     76  16.2520
6     76  18.5725
7     76  10.6675
8     76  11.3645
9     76   8.1260

In [46]:
IBM_Spending = supplier_spending[supplier_spending['vendor'] == "IBM"]
IBM_Spending_amount = IBM_Spending['amount']
print(IBM_Spending_amount.sum())

6773290.853499999

In [47]:
CDW_Direct_Spending = supplier_spending[supplier_spending['vendor'] == "CDW Direct"]
CDW_Direct_Spending_amount = CDW_Direct_Spending['amount']
print(CDW_Direct_Spending_amount.sum())

5818677.6712

In [48]:
Oracle_Spending = supplier_spending[supplier_spending['vendor'] == "Oracle, Inc."]
Oracle_Spending_amount = Oracle_Spending['amount']
print(Oracle_Spending_amount.sum())

3892199.0

In [49]:
SalesForce_Spending = supplier_spending[supplier_spending['vendor'] == "SALESFORCE.COM, INC."]
SalesForce_Spending_amount = SalesForce_Spending['amount']
print(SalesForce_Spending_amount.sum())

3884109.0870000003

In [51]:
DataArt_Solutions_Spending = supplier_spending[supplier_spending['vendor'] == "DataArt Solutions, Inc"]
DataArt_Solutions_Spending_amount = DataArt_Solutions_Spending['amount']
print(DataArt_Solutions_Spending_amount.sum())

2673467.5725

In [52]:
Apple_Spending = supplier_spending[supplier_spending['vendor'] == "Apple, Inc."]
Apple_Spending_amount = Apple_Spending['amount']
print(Apple_Spending_amount.sum())

2611532.3414999996

In [53]:
Smart_IMS_Spending = supplier_spending[supplier_spending['vendor'] == "SMART IMS, INC"]
Smart_IMS_Spending_amount = Smart_IMS_Spending['amount']
print(Smart_IMS_Spending_amount.sum())

2374319.858

In [54]:
Amazon_AWS_Spending = supplier_spending[supplier_spending['vendor'] == "Amazon AWS"]
Amazon_AWS_Spending_amount = Amazon_AWS_Spending['amount']
print(Amazon_AWS_Spending_amount.sum())

2232726.9984999998

In [55]:
Oxford_Health_Insurance_Spending = supplier_spending[supplier_spending['vendor'] == "Oxford Health Insurance, Inc"]
Oxford_Health_Insurance_Spending_amount = Oxford_Health_Insurance_Spending['amount']
print(Oxford_Health_Insurance_Spending_amount.sum())

2049243.619

In [56]:
Office_Depot_Spending = supplier_spending[supplier_spending['vendor'] == "OFFICE DEPOT"]
Office_Depot_Spending_amount = Office_Depot_Spending['amount']
print(Office_Depot_Spending_amount.sum())

1884776.449

In [6]:
vendor = data2016['vendor']
top_vendor = vendor.value_counts()
top_vendor[:10]

UBER                            20065
CDW Direct                      19699
OFFICE DEPOT                    18511
Amazon AWS                      10568
SALESFORCE.COM, INC.             9105
ULINE                            7071
STARBUCKS STORE                  6439
TARGET                           5703
TELEPRESS                        5626
Oxford Health Insurance, Inc     5288
Name: vendor, dtype: int64