In [ ]:
# What are the top 10 suppliers for 2017 
# and how much is spent on each supplier?

In [44]:
# Import pandas library
import pandas as pd

In [45]:
# Load primary dataset 
data2017 = pd.read_csv('2017pcard_data (1).csv')

In [59]:
data2017[:10]

,transactionid,amount,transactiondate,vendor,merchantcode,bu,account,ExpenseType,costcenter
0,17pcp8865,18.929075,7/10/2017,76,15100,100,8740,Building Suppliles,Corporate IT
1,17pcp17762,53.014500,6/11/2017,76,15100,100,8740,Building Suppliles,Corporate IT
2,17pcp154402,70.662625,7/29/2017,76,15100,100,8416,Car Rental,Corporate IT
3,17pcp155646,24.557775,5/27/2017,76,15100,100,8416,Car Rental,Corporate IT
4,17pcp146243,46.717275,3/21/2017,76,15100,200,8416,Car Rental,Corporate IT
5,17pcp152407,21.037500,2/28/2017,76,15100,110,8416,Car Rental,Corporate IT
6,17pcp18692,2.234650,2/24/2017,76,15100,110,8416,Car Rental,Corporate IT
7,17pcp174097,3.812930,1/31/2017,76,15100,110,8416,Car Rental,Corporate IT
8,17pcp179969,27.173437,1/7/2017,76,15100,100,8416,Car Rental,Corporate IT
9,17pcp173014,10.227030,1/3/2017,76,15100,100,8416,Car Rental,Corporate IT

In [60]:
data2017.amount.sum()

48314971.5714826

In [61]:
total_spent = data2017.groupby('vendor').sum()
total_spent.nlargest(10, 'amount')

                              amount  merchantcode       bu   account
vendor
IBM                     4.559476e+06      44504125    88130   7547970
CDW Direct              3.453158e+06     501450980  1169610  96555068
Apple, Inc.             2.408586e+06        269370     1650    129150
Microsoft Corporation   2.178931e+06        704106     3250    172035
CENTURYLINK             1.796469e+06      78381879   404860  29317211
SMART IMS, INC          1.729185e+06      12725741    29240   1664085
Amazon AWS              1.668552e+06     193359214   769100  59824807
Oracle, Inc.            1.529637e+06        138998      420     34480
DataArt Solutions, Inc  1.270112e+06     137858799   297430  22766296
SALESFORCE.COM, INC.    1.240089e+06      86369755   563600  44621258

In [62]:
supplier_spending = data2017[['vendor', 'amount']]
supplier_spending[:10]

  vendor     amount
0     76  18.929075
1     76  53.014500
2     76  70.662625
3     76  24.557775
4     76  46.717275
5     76  21.037500
6     76   2.234650
7     76   3.812930
8     76  27.173437
9     76  10.227030

In [63]:
IBM_Spending = supplier_spending[supplier_spending['vendor'] == "IBM"]
IBM_Spending_amount = IBM_Spending['amount']
print(IBM_Spending_amount.sum())

4559475.9999565

In [64]:
CDW_Direct_Spending = supplier_spending[supplier_spending['vendor'] == "CDW Direct"]
CDW_Direct_Spending_amount = CDW_Direct_Spending['amount']
print(CDW_Direct_Spending_amount.sum())

3453158.0877008

In [66]:
Apple_Spending = supplier_spending[supplier_spending['vendor'] == "Apple, Inc."]
Apple_Spending_amount = Apple_Spending['amount']
print(Apple_Spending_amount.sum())

2408585.5117699997

In [67]:
Microsoft_Spending = supplier_spending[supplier_spending['vendor'] == "Microsoft Corporation"]
Microsoft_Spending_amount = Microsoft_Spending['amount']
print(Microsoft_Spending_amount.sum())

2178931.1080170004

In [68]:
CenturyLink_Spending = supplier_spending[supplier_spending['vendor'] == "CENTURYLINK"]
CenturyLink_Spending_amount = CenturyLink_Spending['amount']
print(CenturyLink_Spending_amount.sum())

1796468.6153715001

In [69]:
Smart_IMS_Spending = supplier_spending[supplier_spending['vendor'] == "SMART IMS, INC"]
Smart_IMS_Spending_amount = Smart_IMS_Spending['amount']
print(Smart_IMS_Spending_amount.sum())

1729184.7013375

In [70]:
Amazon_AWS_Spending = supplier_spending[supplier_spending['vendor'] == "Amazon AWS"]
Amazon_AWS_Spending_amount = Amazon_AWS_Spending['amount']
print(Amazon_AWS_Spending_amount.sum())

1668552.2955445

In [71]:
Oracle_Spending = supplier_spending[supplier_spending['vendor'] == "Oracle, Inc."]
Oracle_Spending_amount = Oracle_Spending['amount']
print(Oracle_Spending_amount.sum())

1529637.4751999998

In [72]:
DataArt_Solutions_Spending = supplier_spending[supplier_spending['vendor'] == "DataArt Solutions, Inc"]
DataArt_Solutions_Spending_amount = DataArt_Solutions_Spending['amount']
print(DataArt_Solutions_Spending_amount.sum())

1270111.8704175

In [73]:
SalesForce_Solutions_Spending = supplier_spending[supplier_spending['vendor'] == "SALESFORCE.COM, INC."]
SalesForce_Solutions_Spending_amount = SalesForce_Solutions_Spending['amount']
print(SalesForce_Solutions_Spending_amount.sum())

1240089.3623755001

In [42]:
top_supliers = suppliers.value_counts()
top_supliers[:10]

CDW Direct                11293
OFFICE DEPOT              10891
UBER                      10552
Amazon AWS                 7109
SALESFORCE.COM, INC.       5196
Staples                    3733
TELEPRESS                  3469
CENTURYLINK                3417
TARGET                     2985
DataArt Solutions, Inc     2709
Name: vendor, dtype: int64