In [ ]:
# Which business unit was the top spender so far in 2017?

In [1]:
# Import pandas library
import pandas as pd

In [2]:
# Load primary dataset 
data2017 = pd.read_csv('2017pcard_data (1).csv')

In [3]:
data2017[:10]

,transactionid,amount,transactiondate,vendor,merchantcode,bu,account,ExpenseType,costcenter
0,17pcp8865,18.929075,7/10/2017,76,15100,100,8740,Building Suppliles,Corporate IT
1,17pcp17762,53.014500,6/11/2017,76,15100,100,8740,Building Suppliles,Corporate IT
2,17pcp154402,70.662625,7/29/2017,76,15100,100,8416,Car Rental,Corporate IT
3,17pcp155646,24.557775,5/27/2017,76,15100,100,8416,Car Rental,Corporate IT
4,17pcp146243,46.717275,3/21/2017,76,15100,200,8416,Car Rental,Corporate IT
5,17pcp152407,21.037500,2/28/2017,76,15100,110,8416,Car Rental,Corporate IT
6,17pcp18692,2.234650,2/24/2017,76,15100,110,8416,Car Rental,Corporate IT
7,17pcp174097,3.812930,1/31/2017,76,15100,110,8416,Car Rental,Corporate IT
8,17pcp179969,27.173437,1/7/2017,76,15100,100,8416,Car Rental,Corporate IT
9,17pcp173014,10.227030,1/3/2017,76,15100,100,8416,Car Rental,Corporate IT

In [5]:
business_unit = data2017['bu']
business_unit.value_counts()

100    124883
110     52646
200      9002
120      3327
Name: bu, dtype: int64

In [6]:
business_unit_spending = data2017[['bu', 'amount']]
business_unit_spending[:10]

    bu     amount
0  100  18.929075
1  100  53.014500
2  100  70.662625
3  100  24.557775
4  200  46.717275
5  110  21.037500
6  110   2.234650
7  110   3.812930
8  100  27.173437
9  100  10.227030

In [8]:
Techtrades_HQ_Spending = business_unit_spending[business_unit_spending['bu'] == 100]
Techtrades_HQ_Spending_amount = Techtrades_HQ_Spending['amount']
print(Techtrades_HQ_Spending_amount.sum())

23755442.44902329

In [9]:
Techtrades_LTD_Spending = business_unit_spending[business_unit_spending['bu'] == 110]
Techtrades_LTD_Spending_amount = Techtrades_LTD_Spending['amount']
print(Techtrades_LTD_Spending_amount.sum())

17545825.47180555

In [10]:
Techtrades_NK_Spending = business_unit_spending[business_unit_spending['bu'] == 120]
Techtrades_NK_Spending_amount = Techtrades_NK_Spending['amount']
print(Techtrades_NK_Spending_amount.sum())

4321178.084998

In [11]:
Zeus_Banking_Spending = business_unit_spending[business_unit_spending['bu'] == 200]
Zeus_Banking_Spending_amount = Zeus_Banking_Spending['amount']
print(Zeus_Banking_Spending_amount.sum())

2692525.5656557498