In [ ]:
# What are the top 10 suppliers for 2017 
# and how much is spent on each supplier?

In [44]:
# Import pandas library
import pandas as pd

In [45]:
# Load primary dataset 
data2017 = pd.read_csv('2017pcard_data (1).csv')

In [59]:
data2017[:10]

,transactionid,amount,transactiondate,vendor,merchantcode,bu,account,ExpenseType,costcenter
0,17pcp8865,18.929075,7/10/2017,76,15100,100,8740,Building Suppliles,Corporate IT
1,17pcp17762,53.014500,6/11/2017,76,15100,100,8740,Building Suppliles,Corporate IT
2,17pcp154402,70.662625,7/29/2017,76,15100,100,8416,Car Rental,Corporate IT
3,17pcp155646,24.557775,5/27/2017,76,15100,100,8416,Car Rental,Corporate IT
4,17pcp146243,46.717275,3/21/2017,76,15100,200,8416,Car Rental,Corporate IT
5,17pcp152407,21.037500,2/28/2017,76,15100,110,8416,Car Rental,Corporate IT
6,17pcp18692,2.234650,2/24/2017,76,15100,110,8416,Car Rental,Corporate IT
7,17pcp174097,3.812930,1/31/2017,76,15100,110,8416,Car Rental,Corporate IT
8,17pcp179969,27.173437,1/7/2017,76,15100,100,8416,Car Rental,Corporate IT
9,17pcp173014,10.227030,1/3/2017,76,15100,100,8416,Car Rental,Corporate IT

In [19]:
suppliers = data2017['vendor']

In [42]:
top_supliers = suppliers.value_counts()
top_supliers[:10]

CDW Direct                11293
OFFICE DEPOT              10891
UBER                      10552
Amazon AWS                 7109
SALESFORCE.COM, INC.       5196
Staples                    3733
TELEPRESS                  3469
CENTURYLINK                3417
TARGET                     2985
DataArt Solutions, Inc     2709
Name: vendor, dtype: int64

In [21]:
amounts = data2017['amount']

In [24]:
supplier_spending = data2017[['vendor', 'amount']]
supplier_spending[:10]

  vendor     amount
0     76  18.929075
1     76  53.014500
2     76  70.662625
3     76  24.557775
4     76  46.717275
5     76  21.037500
6     76   2.234650
7     76   3.812930
8     76  27.173437
9     76  10.227030

In [34]:
CDW_Direct_Spending = supplier_spending[supplier_spending['vendor'] == "CDW Direct"]
CDW_Direct_Spending_amount = CDW_Direct_Spending['amount']
CDW_Direct_Spending_amount
print(CDW_Direct_Spending_amount.sum())

3453158.0877008

In [38]:
Office_Depot_Spending = supplier_spending[supplier_spending['vendor'] == "OFFICE DEPOT"]
Office_Depot_Spending_Amount = Office_Depot_Spending['amount']
print(Office_Depot_Spending_Amount.sum())

986288.874663

In [39]:
Uber_spending = supplier_spending[supplier_spending['vendor'] == "UBER"]
Uber_spending_amount = Uber_spending['amount']
print(Uber_spending_amount.sum())

225716.076919

In [40]:
Amazon_AWS_Spending = supplier_spending[supplier_spending['vendor'] == "Amazon AWS"]
Amazon_AWS_Spending_amount = Amazon_AWS_Spending['amount']
print(Amazon_AWS_Spending_amount.sum())

1668552.2955445

In [43]:
SalesForce_Spending = supplier_spending[supplier_spending['vendor'] == "SALESFORCE.COM, INC."]
SalesForce_Spending_amount = SalesForce_Spending['amount']
print(SalesForce_Spending_amount.sum())

1240089.3623755001

In [47]:
Staples_Spending = supplier_spending[supplier_spending['vendor'] == "Staples"]
Staples_Spending_amount = Staples_Spending['amount']
print(Staples_Spending_amount.sum())

222747.403527

In [49]:
Telepress_Spending = supplier_spending[supplier_spending['vendor'] == "TELEPRESS"]
Telepress_Spending_amount = Telepress_Spending['amount']
print(Telepress_Spending_amount.sum())

302311.4968345

In [52]:
CenturyLink_Spending = supplier_spending[supplier_spending['vendor'] == "CENTURYLINK"]
CenturyLink_Spending_amount = CenturyLink_Spending['amount']
print(CenturyLink_Spending_amount.sum())

1796468.6153715001

In [53]:
Target_Spending = supplier_spending[supplier_spending['vendor'] == "TARGET"]
Target_Spending_amount = Target_Spending['amount']
print(Target_Spending_amount.sum())

101571.26931599999

In [55]:
DataArt_Solutions_Spending = supplier_spending[supplier_spending['vendor'] == "DataArt Solutions, Inc"]
DataArt_Solutions_amount = DataArt_Solutions_Spending['amount']
print(DataArt_Solutions_amount.sum())

1270111.8704175